
@using PokemonCards.Models;
@using PokemonCards.Models.Libs;

@{
    var action = Request.QueryString["action"];
    var id = Request.QueryString["id"];

    int team_id = Request.QueryString["team_id"] == null ? 0 : Convert.ToInt32(Request.QueryString["team_id"]);

    //If team_id was not passed through request
    //Check if the cookie has the team_id
    //if not create a new team_id
    if (team_id == 0)
    {
        HttpCookie hc = Request.Cookies["teams"];
        if (hc != null)
        {
            team_id = Convert.ToInt32(hc["user_team"]);
        }
        else
        {
            team_id = TeamBuilder.CreateTeam();
            HttpCookie cookie = new HttpCookie("teams");
            cookie["user_team"] = team_id.ToString();
            cookie.Expires = DateTime.Now.AddMonths(1);
            Response.Cookies.Add(cookie);
        }
    }

    string message = "";
    string actionMsg = "";
    bool error = false;

    //If action and id are not null
    //this means we are trying to add/remove
    //a pokemon from the team
    if (action != null && id != null)
    {
        actionMsg = TeamBuilder.TeamPokemonAction(team_id, action, Convert.ToInt32(id));

        if (actionMsg[0] == 'E')
        {
            error = true;
        }
        else
        {
            error = false;
        }

        message = actionMsg.Substring(1);
    }


    //Data for page
    List<TeamPokemonModel> teamPoke = TeamBuilder.GetTeam(team_id);
    List<PokemonModel> allPoke = Pokemon.GetPokemon();

    ViewBag.Title = "Team Builder";
}

<div class="jumbotron text-dark">
    <h1>Pokemon Cards</h1>
    <p class="lead">Create a team of 5 pokemon to battle with. Click on a Pokemon below to add them to your team.</p>
    
    @if (message != "")
    {
        <div class="alert @(error ? "alert-danger" : "alert-success")">@message</div>
    }

    <hr class="border-color-black"/>

    <!-- Pokemon Team -->
    <h4 align="center">Your Team</h4>
    <div class="row">
        @if (teamPoke.Count <= 0)
        {
            @:<p class="col">0 Pokemon on your team</p>
         }

            @foreach (var n in teamPoke)
            {
                <div class="card text-dark">
                    <img src="~/Content/@n.pokemon.GetDisplayImage()" class="card-img-top" alt="@n.pokemon.name">
                    <div class="card-body">
                        <h4 class="card-title mb-0">@n.pokemon.name</h4>

                        @foreach (var t in n.pokemon.types)
                        {
                            <small class="text-muted mb-2">
                                @t
                            </small>
                        }

                        <p class="card-text mt-2">
                            Weight: @n.pokemon.weight
                            <br>
                            Health Points: @n.pokemon.hp
                            <br>
                            Level: @n.pokemon.level
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="/TeamBuilder/Index?action=remove&id=@n.pt_id&team_id=@team_id" style="margin: auto 0;" class="btn w-100 btn-primary">Remove From Team</a>
                    </div>
                </div>
            }
        </div>
</div>
<!-- All Pokemon -->
<div class="container">

    <hr class="border-color-white"/>
    <h3 class="text-light">Pokemon</h3>
    <div class="card-deck">
        @foreach (var n in allPoke)
        {
            <div class="card text-dark">
                <img src="~/Content/@n.GetDisplayImage()" class="card-img-top" alt="@n.name">
                <div class="card-body">
                    <h4 class="card-title mb-0">@n.name</h4>

                    @foreach (var t in n.types)
                    {
                        <small class="text-muted mb-2">
                            @t
                        </small>
                    }

                    <p class="card-text mt-2">
                        Weight: @n.weight
                        <br>
                        Health Points: @n.hp
                        <br>
                        Level: @n.level
                    </p>
                </div>
                <div class="card-footer">
                    <a href="/TeamBuilder/Index?action=add&id=@n.id&team_id=@team_id" style="margin: auto 0;" class="btn w-100 btn-primary">Add To Team</a>
                </div>
            </div>
        }
    </div>
</div>